@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans Georgian", sans-serif;
  background-color: white;
  color: #111;
}


.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}



.header {
  height: 72px;
  background: #fff;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 48px;
}

.nav-links a {
  text-decoration: none;
  color: #111;
  font-weight: 500;
}

.nav-btn {
  background: #000;
  color: white;
  padding: 10px 18px;
  border-radius: 8px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
}



.hero {
  background: #FFF2E9;
  padding: 100px 0;
}

.hero-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

.hero-details {
  flex: 1;
}

.hero-details h1 {
  font-size: 72px;
  line-height: 80px;
  letter-spacing: -4px;
  font-weight: 400;
}

.hero-details p {
  margin-top: 24px;
  font-size: 18px;
  line-height: 28px;
  max-width: 500px;
  color: #444;
}

.hero-btn {
  margin-top: 40px;
  display: flex;
  gap: 20px;
}

.btn {
  padding: 14px 24px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.primary {
  background: black;
  color: white;
}

.secondary {
  background: #FFEBDD;
  color: black;
}

.hero-img {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.hero-img img {
  width: 100%;
  max-width: 520px;
}


.trusted {
  padding: 80px 0;
  text-align: center;
}

.trusted-title {
  font-size: 18px;
  margin-bottom: 40px;
  color: 000000BF;

}

.trusted-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  flex-wrap: wrap;
}

.trusted-logos img {
  height: 30px;
  opacity: 0.7;
  transition: 0.3s ease;
}

.trusted-logos img:hover {
  opacity: 1;
}

.why{
    height: auto;
    padding: 80px 100px;
    justify-content: center;
}

.why-details {
    font-size: 35px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.32px;
  text-align: center;

}

.why-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 56px;
}

.why-card h1{
    font-size: 28px;
    margin-top: 32px;
    letter-spacing: -0.32px;
}

.why-card p{
    margin-top: 12px;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.2px;
    color: #000000BF
}

.second-sec {
  padding: 100px 5%;
  background: white;
}

.single-sec {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}


.single-sec h1 {
  font-size: 48px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -1px;
  margin-bottom: 20px;
}


.single-sec p {
  font-size: 18px;
  line-height: 1.6;
  color: #666;
  margin-bottom: 80px;
}


.feature-container {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 60px;
  align-items: center;
}


.feature-image {
  position: relative;
}


.feature-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}


.feature-card {
  background: white;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  gap: 20px;
  align-items: flex-start;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.06);
  transition: 0.3s ease;
}

.feature-card:hover {
  transform: translateY(-4px);
}


.feature-card.active {
  border-top: 1px solid #ff4d4d;
}


.feature-number {
  width: 50px;
  height: 50px;
  min-width: 50px;
  border-radius: 50%;
  border: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 18px;
}

.one{
      width: 50px;
  height: 50px;
  min-width: 50px;
  border-radius: 50%;
  border: 2px solid #000;
  background-color: #DBF4FF;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 18px;
}

/* TEXT */
.feature-content h3 {
  margin: 0 0 10px 0;
  font-size: 20px;
}

.feature-content p {
  margin: 0;
  font-size: 15px;
  color: #555;
  line-height: 1.6;
}
