@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Noto Sans Georgian", sans-serif;
    background-color: white;
}

.header{
    background-color: rgb(85, 56, 56);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* gap: 20px; */
    /* padding-top: 24px; */
    gap: 258px;
    height: 72px;
}

.nav-links{
    display: flex;
    gap: 56px;
}

.nav-links a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.nav-btn{
    padding: 8px 16px;
    background-color: black;
    color: white;
    border-radius: 8px;
}

