@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans Georgian", sans-serif;
  background-color: white;
  color: #111;
}


.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}



.header {
  height: 72px;
  background: #fff;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 48px;
}

.nav-links a {
  text-decoration: none;
  color: #111;
  font-weight: 500;
}

.nav-btn {
  background: #000;
  color: white;
  padding: 10px 18px;
  border-radius: 8px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
}



.hero {
  background: #FFF2E9;
  padding: 100px 0;
}

.hero-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

.hero-details {
  flex: 1;
}

.hero-details h1 {
  font-size: 72px;
  line-height: 80px;
  letter-spacing: -4px;
  font-weight: 400;
}

.hero-details p {
  margin-top: 24px;
  font-size: 18px;
  line-height: 28px;
  max-width: 500px;
  color: #444;
}

.hero-btn {
  margin-top: 40px;
  display: flex;
  gap: 20px;
}

.btn {
  padding: 14px 24px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.primary {
  background: black;
  color: white;
}

.secondary {
  background: #FFEBDD;
  color: black;
}

.hero-img {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.hero-img img {
  width: 100%;
  max-width: 520px;
}


.trusted {
  padding: 80px 0;
  text-align: center;
}

.trusted-title {
  font-size: 18px;
  margin-bottom: 40px;
  color: 000000BF;

}

.trusted-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  flex-wrap: wrap;
}

.trusted-logos img {
  height: 30px;
  opacity: 0.7;
  transition: 0.3s ease;
}

.trusted-logos img:hover {
  opacity: 1;
}

.why{
    height: auto;
    padding: 80px 100px;
    justify-content: center;
}

.why-details {
    font-size: 35px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.32px;
  text-align: center;

}

.why-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 56px;
}

.why-card h1{
    font-size: 28px;
    margin-top: 32px;
    letter-spacing: -0.32px;
}

.why-card p{
    margin-top: 12px;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.2px;
    color: #000000BF
}

.second-sec {
  padding: 100px 5%;
  background: white;
}

.single-sec {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}


.single-sec h1 {
  font-size: 48px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -1px;
  margin-bottom: 20px;
}


.single-sec p {
  font-size: 18px;
  line-height: 1.6;
  color: #666;
  margin-bottom: 80px;
}


.feature-container {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 60px;
  align-items: center;
}


.feature-image {
  position: relative;
  overflow: hidden;
}


.feature-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}


.feature-card {
  background: white;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  gap: 20px;
  align-items: flex-start;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.06);
  transition: 0.3s ease;
}

.feature-card:hover {
  transform: translateY(-4px);
}


.feature-card.active {
  border-top: 1px solid #ff4d4d;
}


.feature-number {
  width: 50px;
  height: 50px;
  min-width: 50px;
  border-radius: 50%;
  border: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 18px;
}

.one{
      width: 50px;
  height: 50px;
  min-width: 50px;
  border-radius: 50%;
  border: 2px solid #000;
  background-color: #DBF4FF;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 18px;
}

/* TEXT */
.feature-content h3 {
  margin: 0 0 10px 0;
  font-size: 20px;
}

.feature-content p {
  margin: 0;
  font-size: 15px;
  color: #555;
  line-height: 1.6;
}

.testimonial-section {
  padding: 100px 5%;
}

.testimonial-container {
  max-width: 1300px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1.1fr 1fr;
  gap: 80px;
  align-items: center;
}

/* LEFT SIDE */
.testimonial-content {
  max-width: 600px;
}

.testimonial-quote {
  font-size: 40px;
  font-weight: 400;
   line-height: 47px;
  letter-spacing: -2px;
  margin-bottom: 40px;
}

.testimonial-author h4 {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.16px;

}

.testimonial-author p {
  margin: 5px 0 30px 0;
  color: #121212;
  font-size: 14px;
  font-weight: 400;
}

.case-btn {
    display: flex;
    justify-content: center;
    gap: 12px;
  padding: 12px 24px;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-weight: 800;
  cursor: pointer;
  line-height: 24px;
  letter-spacing: -0.16px;
  transition: 0.3s ease;
}

.case-btn:hover {
  opacity: 0.85;
}

.testimonial-image img {
  width: 100%;
  border-radius: 20px;
  display: block;
  cursor: pointer;
}

.testimonial-nav {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.nav-circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background: #DBF4FF;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s ease;
}

.nav-circle:hover {
  background: #bdd3df;
}

/* SECTION WRAPPER */
.cta-section {
  padding: 120px 5%;
}

/* BLACK CARD */
.cta-card {
  max-width: 1300px;
  margin: 0 auto;
  background: #000;
  border-radius: 20px;
  padding: 70px 80px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.cta-left h2 {
  color: #fff;
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 15px;
}

.cta-left p {
  color: #FFFFFFBF;
  font-size: 18px;
}

.cta-right {
  display: flex;
  align-items: center;
  gap: 30px;
}

.cta-btn {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  padding: 16px 28px;
  border-radius: 12px;
  font-weight: 500;
  text-decoration: none;
  transition: 0.3s ease;
}

.cta-btn.primary {
  background: #fff;
  color: #000;
}

.cta-btn.primary:hover {
  opacity: 0.85;
}


.cta-link {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  border: 1px solid white;
}

.wh{
    color: white;
    border: 1px solid white;
}

.wh:hover{
    opacity: 0.85;
}

.cta-link:hover {
  text-decoration: underline;
}

/* footer section  */
.footer {
  background: #FFF2E9; 
  padding: 100px 5%;
}

.footer-container {
  max-width: 1300px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
  gap: 60px;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
}

.footer-logo img {
  height: 30px;
}

.footer-description {
  color: #6e6a66;
  line-height: 150%;
  font-weight: 400;
  letter-spacing: 0%;
  margin-bottom: 30px;
  max-width: 320px;
}

.footer-socials {
  display: flex;
  gap: 15px;
}

.social-circle {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
}

.social-circle img {
  width: 40px;
  height: 40px;
}

.social-circle:hover {
  background: #cbbfb5;
}

.footer-column h4 {
  font-size: 20px;
  margin-bottom: 20px;
}

.footer-column a {
  display: block;
  text-decoration: none;
  color: #6e6a66;
  margin-bottom: 15px;
  transition: 0.3s ease;
}

.footer-column a:hover {
  color: #000;
}

/* Responsiveness  */
@media (max-width: 768px) {

  .container {
    width: 100%;
  }

  /* NAV */
  .nav-wrapper {
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
  }

  .nav-links {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
  }

  /* HERO */
  .hero {
    padding: 70px 0;
  }

  .hero-details h1 {
    font-size: 36px;
    line-height: 44px;
    text-align: center;
  }

  .hero-wrapper{
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .hero-details p {
    font-size: 16px;
  }

  .hero-btn {
    flex-direction: column;
    gap: 16px;
  }

  .btn {
    width: 100%;
    justify-content: center;
  }

  /* TRUSTED */
  .trusted-logos {
    gap: 30px;
  }

  /* WHY */
  .why {
    padding: 60px 20px;
  }

  .why-grid {
    grid-template-columns: 1fr;
  }

  .why-details {
    font-size: 26px;
  }

  .why-card p{
    font-size: 14px;
  }

  /* SECOND SECTION */
  .single-sec h1 {
    font-size: 32px;
  }

  .single-sec p {
    font-size: 16px;
    margin-bottom: 50px;
  }
  .feature-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 60px;
  align-items: center;
}
.testimonial-container{
    grid-template-columns: 1fr;

}

.cta-card{
    display: flex;
    flex-direction: column;
}

  /* FEATURE CARDS */
  .feature-card {
    flex-direction: column;
    text-align: left;
  }

  /* TESTIMONIAL */
  .testimonial-quote {
    font-size: 28px;
    line-height: 36px;
  }

  .testimonial-nav {
    gap: 15px;
  }

  .nav-circle {
    width: 50px;
    height: 50px;
  }

  /* CTA */
  .cta-left h2 {
    font-size: 32px;
    text-align: center;
    text-transform: uppercase ;
  }

  .cta-left p {
    font-size: 16px;
    text-align: center;
  }

  .cta-btn {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .cta-right{
    display: flex;
    flex-direction: column;
  }

  /* FOOTER */
  .footer-container {
    grid-template-columns: 1fr;
  }

  .footer-description {
    max-width: 100%;
  }

}



